.card-dark {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0, 0.8);

  .hide-to-left {
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
    margin-right: 20px;
    background: none;
    background: transparent;
    width: 20px;
    border: none;
    color: white;
    z-index: 5;
  }
}
